@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Droid Sans', arial, verdana, sans-serif;
  background-image: url('../images/cosmic-bg-by-Vaynakh.jpg');
  background-size: cover;
  min-height: 100vh;
}

#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.mainPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 80%;
  min-height: 25vh;
}

.resultsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  min-height: 50vh;
}

input {
  width: 280px;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 20px;
}

button {
  width: 100px;
  height: 41px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 20px;
  text-transform: capitalize;
  cursor: pointer;
  transition:
    background 0.5s,
    color 0.5s;
}

button:hover {
  background-color: white;
  color: black;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgba(9, 1, 15, 0.3);
  width: 30%;
  border: 1px solid transparent;
  border-radius: 25px;
}

ul {
  font-size: 18px;
}

li {
  list-style-type: none;
  font-weight: 700;
  color: #ff6;
}
